/Parte2/Ejercicio2.5/build/
/Parte2/Ejercicio2.6/nbproject/private/
/Parte3/Ejercicio3.1/nbproject/private/
/Parte3/Ejercicio3.2/nbproject/private/
/Parte3/Ejercicio3.2/build/
/Parte3/Ejercicio3.3/nbproject/private/
/Parte3/Ejercicio3.3/build/
/Parte3/Ejercicio3.4/nbproject/private/
/Parte3/Ejercicio3.5/nbproject/private/
/Parte3/Ejercicio 3.4/nbproject/private/
/Parte3/Ejercicio 3.4/build/
/Parte3/Ejercicio 3.5/nbproject/private/
/Parte3/Ejercicio 3.5/build/